poses/
__pycache__/

*.pyc
.ipynb_checkpoints
.vscode
.DS_Store
*_model_st1.pdb
debug.log
Result/


# DockQ
DockQ.py
fnat*
molecule.o
clean.bash
src/
scripts/

#testing
debug*
report_4dn4_0.txt
4dn4/
4dn4_test/
best_energy1.txt
sfladock_old.sh