poses/
__pycache__/

*.pyc
.ipynb_checkpoints
.vscode
.DS_Store
*_model_st1.pdb
debug.log
Result/


# DockQ
DockQ.py
fnat*
molecule.o
clean.bash
src/
scripts/
Result1/
Result2/

#testing
debug*
4dn4/
1exb/
DataCheck/
NewData/
NewData1/
NewData2/
NewData3/
sfladock_old.sh
sfladockNew.sh
sfladock_poses.sh